<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Bin of Parts team <%= @team %></h1>
    <p>
      You have successfully Pre-Registered your team for the BinofParts.com Beta.<br>
    </p>
    <p>
      You will be notified via email with an invitation link when the beta goes live.
    </p>
    <p>Thank you and have a great day!</p>
  </body>
</html>