<% content_for :title, "- #{params[:id]} Kit of Parts" %>
<div class="container">
<div class="row">
	<% @parts.in_groups_of(@half).each do |parts_array| %>
  <div class="col-xs-12 col-md-6">
    <table class="table table-center" style="margin-top: 20px;">
      <tbody>
        <% parts_array.each do |part| %>
        <% if part.presence %>
          <tr>
			<td class="media">
				<div class="left"><div class="imgcenter"></div><%= image_tag("kop#{part.year}/#{part.picture}", class: "media-object") %></div>
				<div class="media-body">
					<h4 class="media-heading"><%= part.name %></h4>
				</div>
				<div class="right"><a>QTY</a></br></br><a><%=  part.qty %></a></div>
			</td>          
		  </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
	
</div>
</div>