<div class="jumbotron missionjumbo">
	<div class="container">
		<div class="mission"><span>"Providing science and technology accessibility to the students."</span></br><span>- Our Mission -</span></div>
	</div>
</div>
<div class="container bop-bio">
	<div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
		<h2>What do we do?</h2>
		<p>We help FIRST Robotics teams to find the things that they need. More specifically we built a website that will allow FIRST Robotics Competition (FRC) teams to share parts with each other and FIRST.</p>
	</div>
	<div class="first-logo col-sm-2 col-xs-offset-4 col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
		<%= link_to image_tag('FIRSTvert_RGB.jpg', alt: 'FIRST Logo', height: '120'), "http://usfirst.org" %>
	</div>
</div>
<div class="container first-bio">
	<div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
		<h2>What is FIRST?</h2>
		<p>FIRST was founded in 1989 to inspire young people's interest and participation in science and technology. Based in Manchester, NH, the 501 (c) (3) not-for-profit public charity designs accessible, innovative programs that motivate young people to pursue education and career opportunities in science, technology, engineering, and math, while building self-confidence, knowledge, and life skills.</p>
	</div>
</div>
<div class="jumbotron">
	<div class="container">
		<div class="first-vision col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2"><span>"To transform our culture by creating a world where science and technology are celebrated and where young people dream of becoming science and technology leaders."</span></br><span>- Dean Kamen, Founder of FIRST -</span></div>
	</div>
</div>
<div class="container github-buttons">
	<h3>Bin of Parts is Open Source!</h3>
	<iframe src="http://ghbtns.com/github-btn.html?user=BinofParts&repo=binofparts&count=true&type=fork&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="135" height="30"></iframe>
	<iframe src="http://ghbtns.com/github-btn.html?user=BinofParts&repo=binofparts&count=true&size=large&type=watch" allowtransparency="true" frameborder="0" scrolling="0" width="115" height="30"></iframe>
</div>