// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.missionjumbo{
	position: relative;
	min-height: 320px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	text-align: center;
	color: white;
}
.missionjumbo:after{
	content:"";
	background: image-url("first_2011_header.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 1.0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: 1;

}
.mission{
	width: 100%;
	position: absolute;
	left:0;
	color: white;
	margin-top: 75px;
	font-weight: 700;
	font-size: 23px;
	z-index: 30;
	text-align: center;
}
.bop-bio{
	font-size: 16px;
}
.first-bio{
	font-size: 16px;
	margin-bottom: 30px;
}
.first-vision{
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}
.bop-logo{
	text-align: center;
}
.first-logo{
	margin-top:35px;
}
.github-buttons{
	margin-top: 55px;
	margin-bottom: 75px;
	text-align: center;
}
.github-buttons h3{
	margin-bottom: 35px;
}