/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 */

html{
	background: #333333;
}
.alert{
	margin-bottom: 0px;
}
.center-block {
    float: none;
}
.category{
	height: 40px;
	padding: 15px;
	text-align: center;
}
.media-list{
	background: #fff;
	padding-top: 20px;
	padding-bottom: 25px;
}
.media{
	min-width: 450px;
	height: 85px;
	border:1px solid #D2D2D2;
	border-radius: 5px;
}
.imgcenter {
	display: inline-block;
	vertical-align: middle;
	height: 100%; 
}
.media .left {
	float: left;
	width: 85px;
	height: 100%;
	text-align:center;
}
.media .left img{
	vertical-align: middle;
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}
.media-body{
	float: left;
}
.media-body p{
	width: 280px;
}
.media-heading{
	font-size: 14px;
	width: 250px;
}
.media .right{
	float: right;
	width:70px;
	height: 100%;
	text-align: center;
}
.right{
	float: right;
}
.left{
	float: left;
}
.content{
	background: #fff;
	padding-top: 55px; 
	margin-bottom: 50px;
	min-height: 490px;
}
.navbar-brand img{
	margin-right:10px;
   	margin-top:-15px;
   	margin-bottom: -10px;	
}
.bop-navbar {
	padding:0px 35px;
    min-height: 55px;
}
.dropdown-toggle {
	height: 55px;
}
.dropdown-menu > li {
	height: 25px;
}
.bop-navbar .navbar-nav > li > a:hover {
	color: #1fc200;
}
.table-center{
	table-layout: fixed;
	text-align: center;
}
th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
th .asc {
  background-image: url(/images/up_arrow.gif);
}

th .desc {
  background-image: url(/images/down_arrow.gif);
}
#footer{
	min-height: 100px;
	background: #333333;
}
.footer{
	padding-top: 30px;
	color: #fff;
}
.footer a{
	color: #fff;
}
.footer .section{
	text-align: center;
	padding-bottom: 15px;
}
.footer #links{
	text-align: left;
}
.footer #links-xs{
	text-align: center;
}
.footer #heroku img{
	max-height: 40px;
}