/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body, html { 
	background: #333333;
}
#footer{
	margin-top: 50px;
min-height: 100px;
background: #333333;
}
.footer{
	padding-top: 30px;
	color: #fff;
}
.footer a{
	color: #fff;
}
.footer .section{
	text-align: center;
	padding-bottom: 15px;
}
.footer #links{
	text-align: left;
}