/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 */

html{
	background: #333333;
}
.content{
	padding-top: 55px; 
}
.navbar-brand img{
	height: 40px;
	margin-right:10px;
   	margin-top:-15px;
   	margin-bottom: -10px;	
}
.bop-navbar {
	padding:0px 30px;
    min-height: 55px;
}
.bop-navbar .navbar-nav > li > a:hover {
	color: #1fc200;
}
#footer{
	margin-top: 50px;
	min-height: 100px;
	background: #333333;
}
.footer{
	padding-top: 30px;
	color: #fff;
}
.footer a{
	color: #fff;
}
.footer .section{
	text-align: center;
	padding-bottom: 15px;
}
.footer #links{
	text-align: left;
}
.footer #links-xs{
	text-align: center;
}