// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new{
	padding: 35px 25px 0 0;
}
.category a:hover{
	cursor: pointer;
}
#new-request-parts-list a:hover{
	cursor: pointer;
}
#new-request-parts-list{
	padding-top: 15px;
	list-style-type: none;
}
#new-request-parts-list img{
	max-height: 70px;
}
#new-request-parts-list .part-div{
	height: 70px;
	margin-bottom: 85px; 
}
.part .caption{
	text-align: center;
}